<%-include('../adminLayouts/adminHeader')%>



<section class="email-notify">

    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h3 class="text-center">Send Email To All User To Notify for Events</h3>
                <form action="/admin/allEmailsEvent" method="post">
                    <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">Subject:-</label>
                    <input style="font-size:.875rem;letter-spacing:0.0142857143em; font-weight:400;" type="text" name="emailSubject" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>

                      <div class="form-floating">
                        <textarea class="form-control" name="emailContent" placeholder="Leave a comment here" id="floatingTextarea23" style="height:300px;font-size:small;line-height: 1.5; overflow-y: scroll;white-space: pre;"></textarea>
                        <label for="floatingTextarea23">Write email here...</label>
                      </div>
                      <div class="col-12 text-center my-3">
                        <button type="submit" class="btn btn-primary">Send Emails</button>
                      </div>

                </form>

            </div>
        </div>
    </div>
</section>



<%-include('../adminLayouts/adminFooter')%>