 <!-- //----------footer section----------------------------------------------  -->
 <section id="footer-sec">
 <div class="container-fluid bg-dark">
<footer class="bg-dark text-center text-white">
    
    <div class="container p-4 pb-0">
        <section class="">
            <form action="/subscribeUsers" method="post">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Sign up for our newsletter</strong>
                  </p>
                </div>
                
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" name="Email" id="form5Example5" class="form-control" autocomplete="off" required />
                    <label class="form-label" for="form5Example5">Email address</label>
                  </div>
                </div>
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
                
              </div>
              
            </form>
          </section>





      <!-- Section: Social media -->
      <section class="mb-4">
       
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="#!" role="button">
          <!-- <i class="fab fa-google"></i> -->
            <img style="width:33px" src="/website-img/Facebook_logo.png" alt="facebook">  
        </a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/iotverse_club/?igshid=MmJiY2I4NDBkZg%3D%3D" role="button">
          <!-- <i class="fab fa-instagram"></i> -->
          <img style="width:33px"  src="/website-img/instagramLogo.jpg" alt="">
        </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/iotverse-club-rec-banda/" role="button">
          <!-- <i class="fab fa-linkedin-in"></i> -->
          <img style="width:30px" src="/website-img/Linkedin-Logo.webp" alt="logo">
        </a>
  
        <!-- Twiter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <!-- <i class="fab fa-github"></i> -->
          <img style="width:30px" src="/website-img/TwitterLogo.png" alt="logo">
        </a>
      </section>
     
    </div>
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">IOTverse</a>
      <p>Some picture use from <a href="https://www.freepik.com/">freepik</a></p>
    </div>
    
  </footer>
    </div>
</section>
 

 
 <!-- Bootstrap6 Script  -->
 <script src="/bootstrap-5.0.2-dist/js/bootstrap.min.js" defer></script>

 <!-- Own Script  -->
 <script src="/javascript/navbar.js" defer></script>
 <script src="/javascript/resister_validation.js" defer></script>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         -->

</body>
</html>