<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 

       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

        <!-- Font awesome cdn -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


        <!-- Custome css  -->
        <link rel="stylesheet" href="/customeCss/navbar.css">
        <link rel="stylesheet" href="/customeCss/userLogin.css">
        <link rel="stylesheet" href="/customeCss/resister.css">
        <link rel="stylesheet" href="/customeCss/mailVeryPage.css">
        <link rel="stylesheet" href="/customeCss/sendForgetPassMail.css">
        <link rel="stylesheet" href="/customeCss/directEmailVarify.css">
        <link rel="stylesheet" href="/customeCss/userDashboard.css">
        <link rel="stylesheet" href="/customeCss/eventHome.css">
        <link rel="stylesheet" href="/customeCss/home.css">
        <link rel="stylesheet" href="/customeCss/gallery.css">
        <link rel="stylesheet" href="/customeCss/achivement.css">
</head>
<body>

   <!-- Header section ---------------------------------------------------------------------->
    <header id="header">

      <nav class="navbar navbar-expand-lg navbar-light bg-light py-lg-0">
        <div class="container">
          <a class="navbar-brand" href="#"><img style="width:110px;border-bottom: 3px solid #0D6EFD;" src="/website-img/iotLogo2.png" alt="website_logo"></a>
          <button class="navbar-toggler"style="outline: none; box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
          
            <img style="width:20px;outline: none; box-shadow: none;"  src="/website-img/threeBars.png" alt="threeBar">
            
            
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Galary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contactSec">Contct</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/userDashboard">Dashboard</a>
              </li>
             
            </ul> 
            <ul class="navbar-nav ms-auto mb-2 mt-3 mb-lg-0 mt-lg-0">
              <li class="nav-item ">

    <!-- ====   to change the login to logout we write code in navbar.js file by using cookies  === -->
                <a class="nav-link btn btn-primary btn-sm text-light rounded-pill custome-resi-width userlog-btn" aria-current="page" href="/login">Login</a>
                
               
              </li>
             
              </ul>
            
          </div>
        </div>
      </nav>
    </header>

   