<%-include('../layouts/header')%>

  <section class="not-found" style="min-height:80vh;">
    <div class="container-fluid">
        <div class="row justify-content-center flex-column">
           
               <h3 class="text-center mt-3 fw-bold">OOPS Page not found........</h3>
               <div class="col-12 d-flex justify-content-center">
            <img src="/website-img/404_img.jpg" alt="404_img" style="max-width:500px">
           </div>
            
        </div>
        <div class="container"> 
            <div class="row  justify-content-center">
                <a href="/" class="btn btn-primary rounded-pill mt-2 mb-3" style="width:150px">Go Home</a>
        </div>
    </div>
        
    
    </div>
  </section>

<%-include('../layouts/footer')%>