<%-include('../layouts/header')%>

<div id="head1">
    <div class="headinfo">
        <div class="upper">
            <img src="/website-img/green_check_image2.jpg" alt="jsdgkjsdghjksdhg">
         </div>
        
        <div class="lower">
            <h2>Thank You</h2>
            <h1>Your mail is verified </h1>
            <p>Please login here...</p>
        </div>
        <div class="buttonLog">
            <a href="/login">LOGIN</a>
        </div>
        
    </div>
</div>

<%-include('../layouts/footer')%>