<%-include('../layouts/header')%>

  <section class="all_acivement">
    
    <div class="achiventment_Data">
    <div class="achive_heading">
        <h4 class="fw-bold">Achivment: #1 :- </h4>
    </div>
    <div class="achiventment_Info">
        <img src="/website-img/achivementPage1.jpg" alt="Achivement Image">
        <div class="achiventment_content">
            
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum minus quasi tenetur. Nobis et qui nulla, nemo maiores minus?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum minus quasi tenetur. Nobis et qui nulla, nemo maiores minus?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum minus quasi tenetur. Nobis et qui nulla, nemo maiores minus?</p>

        </div>
    </div>
    </div>
  </section>




  <section class="all_acivement">
    
    <div class="achiventment_Data">
    <div class="achive_heading">
        <h4 class="fw-bold">Achivment: #2 :- </h4>
    </div>
    <div class="achiventment_Info">
        <img src="/website-img/achivementPage2.jpg" alt="Achivement Image">
        <div class="achiventment_content">
            
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum minus quasi tenetur. Nobis et qui nulla, nemo maiores minus?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum minus quasi tenetur. Nobis et qui nulla, nemo maiores minus?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum minus quasi tenetur. Nobis et qui nulla, nemo maiores minus?</p>

        </div>
    </div>
    </div>
  </section>

<%-include('../layouts/footer')%>