
<%-include('../layouts/header')%>

 <section class="full-home-page">
 <!-- Hero section ------------------------------------------------------------ -->
 <section id="home" class="banner-wraper">
      
    <div class="container hero-content">
   <div class="row align-item-center flex-md-row-reverse py-3"> 
     <div class="col-md-6">
      <img src="/website-img/hero_img_final.png" class="img-fluid"  alt="img">
     </div>
     <div class="col-md-6 my-3 my-md-0 pt-sm-5 text-center text-md-start">
      <h1>Get more for <br> Your future</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, id architecto! Perferendis molestiae accusamus corrupti porro eum, eius aspernatur velit?</p>
      <div class="mt-4">
               
        <a class="main-btn resi-btn"  href="/resister">RESISTER</a>
      </div>
     </div>
    </div>
  </div>

 </section>






  <!-- User Counter section ------------------------------------------- -->
  <!-- ======================== Counter Section ================================== -->
  <section id="counter">
    <section class="counter-section">
      <div class="container">
        <div class="row justify-content-evenly text-center">
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5 border border-white pt-3 me-md-3">
            <h2 class="fw-bold">
              <span id="count1"></span>+
            </h2>
            <p class="fw-bold">Users</p>
          </div>
          <div class="col-md-3 me-md-3 mb-lg-0 mb-md-0 mb-5 border border-white pt-3">
            <h2 class="fw-bold">
              <span id="count2"></span>+
            </h2>
            <p class="fw-bold">PHOTOS</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5 border border-white pt-3">
            <h2 class="fw-bold">
              <span id="count3"></span>+
            </h2>
            <p class="fw-bold">ACHIVEMENTS</p>
          </div>
          
        </div>
      </div>
    </section>
   </section>


 <!-- Card section ------------------------------------------- -->

   <section class="card-wrapper">
    <div class="container-fluid ">
      <h2 class="text-center mt-3 display-4 fw-bold ">Our Services</h2>
      <hr>
      <p class="text-center text-muted">We provide best knowladge to our students.</p>
      <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-xl-3 m-auto">
             <div class="card border-0 shadow  text-center my-3">
              <a style="text-decoration: none;color: black;" href="/achivement">
              <div class="card-body pt-5">
                <!-- <i class="fa-regular fa-computer-speaker"></i> -->
                <img src="/website-img/acivementImg.jpg" class="card-img-top" alt="...">
                <h3 class="py-2 text-primary">Achivment</h3>
                <p>The IoTVerse achieved great success by in Iot field and it promoting innovation and collaboration in the field of IoT.</p>
              </div>
            </a>
             </div>
          </div>
         

          <div class="col-12 col-sm-6 col-md-4 col-xl-3 m-auto">
            <div class="card border-0 shadow  text-center my-3">
             <div class="card-body  pt-5">
               <!-- <i class="fa-regular fa-computer-speaker"></i> -->
               <img src="/website-img/progressImg1.png" class="card-img-top" alt="...">
               <h3 class="py-0 text-primary">Progress</h3>
               <p>Discover the power of IoT in our club. We focus on hands-on projects, industry ,networking. Join us for innovation and real-world impact.</p>
             </div>
            </div>
         </div>

         <div class="col-12 col-sm-6 col-md-4 col-xl-3 m-auto">
          <div class="card  border-0 shadow text-center my-3">
           <div class="card-body  pt-5">
            <!-- <i class="fa-light fa-computer-speaker fa-2xl"></i> -->
            <img src="/website-img/communityImg.jpg" alt="...">
             <h3 class="text-primary">Community</h3>
             <p>Welcome to our vibrant IoT club community! Together, we explore, learn, and innovate in the exciting world of IOT. Join us for networking, endless possibilities.</p>
           </div>
          </div>
       </div>
   
        </div>
        </div>
   </section>



<!-- -------------------------------------------- Image Slider start -------------------------------  -->
   <section class="image-slide-full mt-5">

    
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="/website-img/slderImg1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/website-img/sliderImg2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/website-img/sliderImg4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


   </section>
   


   <!-- ------------------------------------------- Contact address with map -------------------------  -->

   <section id="contactSec" class="contact-map py-3 py-sm-5">
    <div class="container-fluid">
        <h2 class="text-center pt-3"><span class="border-bottom border-3 border-dark px-2" style="font-weight: 700;font-size: 2.1rem; color:#012970;;">Contact Address</span></h2>
      <div class="row justify-content-center align-item-center">
        
        <div class="col-12 d-flex justify-content-around align-item-center flex-wrap py-1">
          <div class="d-flex justify-content-center align-item-center flex-column p-2 text-primary">
            <h2 >Address:-</h2>
            <h4>Rajkiay Engineering College Banda, </h4>
            <h4>Uttar Pradesh - 210201</h4>
            <h4>Email:- iotrecbanda@gmail.com</h4>
          </div>
         
          
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3465.2616806638484!2d80.53882710940448!3d25.312207611574056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1682580897611!5m2!1sen!2sin"  height="300" style="border:0; max-width:600px;width: 599px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="py-2"></iframe> -->

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1389.9004931373474!2d80.54412395884448!3d25.312132424205906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1682584277449!5m2!1sen!2sin" height="300" style="border:1px solid black; max-width:600px;width: 597px; overflow: hidden;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="py-2"></iframe>
          
          </div> 
         
      </div>
    </div>
    
    </section>
    
    
  </section>

<!-- ============================ Script add for counter on home page================================== -->
   <script src="/javascript/counter.js"></script>

<%-include('../layouts/footer')%>