 
 
 
 
 <!-- Bootstrap6 Script  -->
 <script src="/bootstrap-5.0.2-dist/js/bootstrap.min.js" defer></script>
 <script src="/javascript/adminJS.js" defer></script>

 <!-- Own Script  -->
  

</body>
</html>